[submodule "aframe-resonance-audio-component"]
	path = aframe-resonance-audio-component
	url = https://github.com/AudioGroupCologne/aframe-resonance-audio-component/
[submodule "aframe-stackbeat"]
	path = aframe-stackbeat
	url = https://github.com/AudioGroupCologne/aframe-stackbeat
